footer {
  background-color: black;
  padding: 30px 10px;
  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
    color: white;

    a {
      text-decoration: none;
      color: white;
      &:hover {
        color: orange;
        font-weight: bold;
      }
    }
  }
}
