.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr 1fr;
  gap: 4px;
  margin: 20px 40px;
  gap: 15px;
  .one {
    background-image: url("images/olive.jpeg");
  }
  .two,
  .seven {
    background-image: url("images/breakfast.jpeg");
  }
  .three,
  .eight {
    background-image: url("images/hamburger.jpeg");
  }
  .four,
  .nine {
    background-image: url("images/salad.jpeg");
  }
  .five {
    background-image: url("images/fries.jpeg");
  }
  .six {
    background-image: url("images/pizza.jpeg");
  }

  .image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 100%;
    position: relative;
  }
  .text {
    background-color: rgba(0, 0, 0, 0.344);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
